.chart{
    padding: 10px;
    height: 359px;
    width: 1000px;
    
   
    .title{
        display: flex;
        flex-direction: column;
    .top{
        
        font-size: large;
        font-weight: 800;
    }
     .bottom {
display: flex;


 }
    }
}