.featured{
    flex:1;
    padding: 10px;
    
    .top{
     
    height: 50px;
    .title{
        text-align: left;
        float: left;
    }
   .keyarrow{
    text-align: right;
float: right;
color: grey;
    }

    
}
    .bottom{
      
        height: 180px;
      
   
    }
   }
